header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/admin/dashboard") ADMIN
      .inner-logo
        a(href=`${prefixAdmin}/authen/logout`
          class="logout"
        ) Đăng xuất    
      .col-9